'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-ember-cli'
      'submenu': [
        {
          'label': 'Cycle'
          'command': 'atom-ember-cli:cycle'
        }
      ]
    ]
  }
]
